* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    height: fit-content;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    box-shadow: 0 0.5em 1.5em rgb(250 250 250 / 10%);
    background-color: #212121;
}
body{
    background-color: black;
}
.icons{
    display: flex;
    align-items: center;

}
.icons i{
    margin-left: .7em;
    padding: .7em;
    font-size:1.2em;
    color: #ed2e2e;
    transition: .3s;
}
.icons i{
    border-radius: 10%;
}
.icons a :hover{
    background-color: #ed2e2e;
    color: white;
    transform: scale(1.1);
}
#sun i{
    border-radius: 50%;
}
#sun :hover {
    transform: rotate(360deg);
}

.montag{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.card

{
    margin-top: 40px;
position: relative;
height: 60vh;
width: 48vh;
background: #fff;
transform-style: preserve-3d;
transform: perspective(2000px);
transition: 0.5s;
box-shadow: inset 300px 0 50px  rgba( 0, 0, 0, 0, 15) ,0 20px 20px rgba(0, 0, 0, 0, 15);

}
.card .cover
{
    position: relative;
    width: 100%;
    height:100% ;
    background: rgb(0, 0, 0);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
}
.card .cover img 
{
   max-width: 100%;
   z-index: 1;
}
.card .cover::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 160%;
    background: #000;
    transform: rotate(39deg);
    box-shadow: 0 0 0 15px rgb(248 244 6);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card:hover .cover::before 
{
  width: 0;
  box-shadow: 0 0 0 350px rgb(248, 244, 6) ;
  transform: rotate(139deg);
  

}
.donut .cover::before
{
    box-shadow: 0 0 0 15px #e7a1b0;
}
.donut:hover .cover::before {
    box-shadow: 0 0 0 350px #e7a1b0 ;
}


@media(max-width:1023px) and (min-width:0px){
    header{
        padding: .5em 1em;
    
    }
    }