*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    box-shadow: 0 0.5em 1.5em rgb(250 250 250 / 10%);
    background-color: #212121;
}

.icons{
    display: flex;
    align-items: center;

}
.icons i{
    margin-left: .7em;
    padding: .7em;
    font-size:1.2em;
    color: #ed2e2e;
    transition: .3s;
}
.icons i{
    border-radius: 10%;
}
.icons a :hover{
    background-color: #ed2e2e;
    color: white;
    transform: scale(1.1);
}
#sun i{
    border-radius: 50%;
}
#sun :hover {
    transform: rotate(360deg);
}
.exa {
    height: fit-content;
    background:black;
    background-image: url(../../../darkdesign/bgmsr.png);
}
body{
    background-color: black;
}

.text h1{
    text-align: center;
    height: 37px;
    justify-content: center;
    align-items: center;
}
.text {
    background: #ffff77ed;
    color: #412f1a;
}
.akla {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 36vh;
    /* border-bottom: 5px solid #a77c4a; */
    margin-top: 17px;
}
.akla-title img {
    width: 271px;
    height: 177px;
    border-radius: 3px;
}
.aklan-title {
    width: fit-content;
    margin: auto;
    background: #ffff77f0;
    padding: 0px 19px;
    border-radius: 0px;
}
.akla-content {
    width: 71ch;
    padding: 25px;
    background: #ba8d38;
    border-radius: 4px;
}
.akla-pra {
    margin-bottom: 23px;
    word-spacing: 3px;
    line-height: 20px;
}
.akla-button {
    display: inline-block;
    text-decoration: none;
    color: currentcolor;
    background: #cd9c3d;
    padding: 10px;
    border-radius: 5px;
    transition: .7s ease;
}
.akla-button :hover{
    transform: scale(1.1);
}
.so3ra{
    margin-left: 55px;
}