*{
    padding: 0; margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    box-shadow: 0 0.5em 1.5em rgb(250 250 250 / 10%);
    background-color: #212121;
}
body{
    background-color: black;
}
.icons{
    display: flex;
    align-items: center;

}
.icons i{
    margin-left: .7em;
    padding: .7em;
    font-size:1.2em;
    color: #ed2e2e;
    transition: .3s;
}
.icons i{
    border-radius: 10%;
}
.icons a :hover{
    background-color: #ed2e2e;
    color: white;
    transform: scale(1.1);
}
#sun i{
    border-radius: 50%;
}
#sun :hover {
    transform: rotate(360deg);
}
/*.home{
    padding: 2em;
    height: 79vh;
}*/
.home p {
    margin-top: 1em;
    width: 50%;
    word-spacing: 0.2em;
    color: #8f0f0f;
    font-weight: 500;
    font-size: 21px;
}
.home h1{

    color: #8f0f0f;
    font-size: 45px;
    font-family: ui-serif;
    font-weight: 600;
}

/*html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}*/


.swiper-slide img {

  object-fit: cover;
}
.container{
    padding:4.5em;
    height: 60vh;
}
.swiper{
    height: 50vh;
}
.swiper-slide{
    display: flex;
}
.swiper-slide h2 {
    width: fit-content;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #8f0f0f;
    border-radius: 9px;
    color: azure;
    transition: .3s ease;
    margin-left: 20px;
}
.swiper-slide h2:hover{
    transform: scale(1.1);
}
/*.sec{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 96%;
    margin: auto;
    height: 57vh;
    border-top: 2px solid #000000c9;
    border-bottom: 2px solid #000000c9;
}*/
/*.aksam {
    width: 96%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-top: 2px solid #000000c9;
    border-bottom: 2px solid #000000c9;
    height: 40vh;
    align-items: center;
}*/

.aksam a:hover{
    transform: scale(1.1);
}
.aksam :hover  a{
 background-color: aqua;
}



.aksam2{
    width: 96%;
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 53vh;
}
.car {
    background-color: #8f0f0f;
    width: 296px;
    margin: 2%;
    justify-content: center;
    margin: auto;
    display: flex;
    height: 66px;
    border-radius: 21px;
    margin-top: 17px;
    align-items: center;
}

.ca{
    background-color: #8f0f0f;
    width: 203px;
    align-items: center;
    margin: 2%;
    display: flex;
    height: 142px;
    border-radius: 6px;
    justify-content: center;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    padding-left: 45px;
    color: white;
    background-color: #101010;
}
footer h2{
color: #8f0f0f;
}
footer a {
    color: aliceblue;
    display: inline-block;
    font-size: 20px;
}
footer a:hover{
    color: #8f0f0f;
    transform: scale(1.1);
}

/*----elksm2-----*/

.options {
    position: relative;
    width: 87vh;
    top: 50%;
    left: 45%;
    height: 47vh;
    margin-bottom: 13vh;
}
    .options p {
        padding: 20px;
        display: none;
        position: absolute;
        top: 1%;
        left: 49%;
        font-size: 20px;
        width: 19ch;
        text-align: center;
        font-weight: 500;
        letter-spacing: 2px;
        transition: .5s ease;
    }
    
    .options a {
        display: block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .5px;
        background-color: #8f0f0f;
        padding: 13px 15px;
        border-radius: 15px;
        width: 209px;
        transition: .3s;
        text-align: center;
        margin: 10px 0px;
    }
    .options a:hover{
        transform: scale(1.1);
    }
    
    
    
    /*-----------------*/
    
    .junkbu:hover + .junkpar {
    display: inline;}
    
    /*-----------------*/
    .vegbu:hover + .vegpar {
    display: inline;}
    
    /*-----------------*/
    .heabu:hover + .heapar {
    display: inline;}
    
    /*-----------------*/
    .drinkbu:hover + .drinkpar {
    display: inline;}
    
    /*-----------------*/
    /*-----------------*/
    .restbu:hover + .restpar {
    display: inline;}
    
    /*-----------------*/
    .vegbu:hover{
        background-color: green;
    }
    .vegpar{
        color: green;
    }
    /*-----------------*/
    .heabu:hover{
        background-color: #2ff1ff;
    }
    .heapar{
        color: #1f929a;
    }
    /*-----------------*/
    .junkbu:hover{
        background-color: #ff1d1d;
    }
    .junkpar{
        color: #b91313;
    }
    /*-----------------*/
    .drinkbu:hover{
        background-color: #e7d000;
    }
    .drinkpar{
        color: #ad8409;
    }
    /*-----------------*/
    .restbu:hover{
        background-color: #be0085;
    }
    .restpar{
        color: #be0085;
    }
    
@media(max-width:1023px) and (min-width:0px){
header{
    padding: .5em 1em;

}
}