:root{
    --clr-neutral-900:hsl(207,19%,9%);
    --clr-neutral-100:hsl(0,0%,100%);
    --clr-accent-400:#42f584;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.card-content h2 {
    margin-bottom: 20px;
    margin-left: 19px;
}
.aksam{
    /*background-color: var(--clr-neutral-900);*/
    display: flex;
    height: 68vh;
    justify-content: center; 
    align-items: center;
    font-family: sans-serif;
    padding: 31px;
    flex-wrap: wrap;
}
.card{
    color: var(--clr-neutral-100);
    background-image: url(imagearab.png);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
    height: 332px;
    margin-left: 23px;
    border-radius: 9px;
    transition: 0.5s ease;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.05);
}
.card-content {
   --padding: 21px;
    padding: var(--padding);
    background:  linear-gradient(rgba(0, 0, 0, 0),
    rgb(0 0 0/ 30%)20%
    ,rgba(0, 0, 0, 1)  );
    border-radius: 9px;
    transform: translateY(65%);
    transition: .5s ease;
}
.card:hover .card-content{
    transform: translateY(0%);
}
.card-title{
    position: relative;
    width: max-content;
}
.card-title::after{
    content: "";
    position: absolute;
    height: 3px;
    left: calc(var(--padding)*-1);
    bottom: 0;
    background: var(--clr-accent-400);
    width:calc(100% + var(--padding)) ;
    transform: scaleX(0);
    transform-origin: left;/*3ashan ybda2 men el left*/
    transition: .8s;
}
.card:hover .card-title::after{
    transform: scaleX(1);
}
.card a {
    display: block;
    margin-top: 4px;
    width: fit-content;
    padding: 4px 4px;
    border-radius: 4px;
}
.button{
    cursor:pointer;
    text-decoration: none;
    display: inline-block;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 4px 3px;
    transition: .3s ease;
}
.button:hover{
    transform: scale(1.05);
    letter-spacing: 1px;
}
.italian{
    background: url(imageit.PNG);
}
.indian{
    background:url(imagein.png);
}
.asian{
    background: url(imageas.png);
}