*{
    margin: 0;
    padding: 0;

}
body{
    background: white;
}
.elksm2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    overflow: hidden;
}
ul{
    text-align: center;
}
ul li{
    list-style: none;
    margin: 14px 0;
}
ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5px;
    background-color: #8f0f0f;
    padding: 8px 15px;
    border-radius: 15px;
    display: inline-block;
    width: 175px;
    transition: .3s;
}
ul:hover li a{
   /* background: rgb(56, 0, 0);*/
    opacity: 0;
}
ul li :hover{
    transform: scale(1.1);
}
ul li a:hover{
    background: #d82121;
    opacity: 1;
}
ul li .veg:hover{
    background-color: green;
}
ul li .hea:hover{
    background-color: #2ff1ff;
}
ul li .ja:hover{
    background-color: #ff1d1d;
}
ul li .dri:hover{
    background-color: #e7d000;
}
ul li ::after{
    position: absolute;
    top: -221%;
    left: 135%;
    color: #000000;
    width: 20ch;
    opacity: 0;
    letter-spacing: 50px;
    pointer-events: none;
    transition: .3s;
}
ul li :hover:after{
    opacity:1;
    letter-spacing: 1px;
}
ul .pja ::after{
    content:'Junk foods mean the foods which are not good for health as well as body.';
    position: absolute;
    top: 34%;
    left: 135%;
    color: #b91313;
}
ul .pveg ::after{
    content:'Vegetarianism is the practice of not eating meat or fish. Vegetarians eat foods like vegetables, fruit, nuts, beans and grains.';
    position: absolute;
    top: -96%;
    left: 135%;
    color: green;
}
ul .phea ::after{
    content:'Healthy food produces energy for our body and runs all the functions of the body smoothly, and here is some tips';
    position: absolute;
    top: -174%;
    left: 135%;
    color: #1f929a;
}
ul .pdri ::after{
    content:'Healthy food produces energy for our body and runs all the functions of the body smoothly, and here is some tips';
    position: absolute;
    top: -290%;
    left: 135%;
    color: #ad8409;
}
